<div class="form-container">
  <h2>Hermes Logout</h2>
  <p>Are you sure you want to log out?</p>
  <div>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'submit-button' %>
  </div>
</div>
